/* Push header content to the far edges */
.nav {
    max-width: unset !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
}

/* Remove the dead space at the top of the homepage */
.main {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.profile {
    padding-top: 20px !important; /* Adjust this to move the "Hi, I'm..." text up or down */
    margin-top: 0 !important;
    min-height: unset !important;
}