.profile {
    padding-top: 5px !important;
    margin-top: -20px !important; 
    min-height: unset !important; 
}

.main {
    margin-top: 0 !important;
}

.profile_inner h1 {
    margin-top: 0 !important;
    margin-bottom: 10px !important;
}