/* Move "Nick Warshak" logo fully to the left */
.nav {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

/* Reduce the massive gap above the Hero text */
.first-entry, .main {
    margin-top: 20px !important;
}

.profile {
    padding-top: 10px !important; /* Move Profile content higher */
}